POSTGRES_USER=postgres
POSTGRES_PASSWORD=food_store_dev
POSTGRES_DB=food_store_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

SECRET_KEY=your-super-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
COOKIE_SECURE=false

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-2667160143082742-061111-7bcc79d9e2ee2d732c43d954a0603e71-2952634722
MP_PUBLIC_KEY=APP_USR-6512ab9e-7e03-4ff7-beaf-6dc2c148ab6b
MP_WEBHOOK_URL=https://nonpartial-renato-unpatted.ngrok-free.dev/api/v1/pagos/webhook
NGROK_URL=https://nonpartial-renato-unpatted.ngrok-free.dev
VITE_FRONTEND_URL=http://localhost:5173
